.BasicInfoBox {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px;
  margin-bottom: 16px;

  .AvatarBox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  @media (max-width: '600px') {
    grid-template-columns: 1fr;
  }
}

.DetailsPaper {
  display: grid;
  padding: 24px 33px;
  column-gap: 120px;
  row-gap: 30px;
  text-wrap: nowrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));

  @media (max-width: '600px') {
    grid-template-columns: 1fr;
  }

  @media (max-width: '400px') {
    padding: 24px 10px;
  }
}
