.BasicInfoBox {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px;
  margin-bottom: 16px;

  .AvatarBox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;
  }
}

.DetailsPaper {
  width: 100%;
  padding: 24px 33px;
  row-gap: 24px;
  column-gap: 15%;
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
}
