.CreatePatientContainer {
  width: 80%;
  min-height: 65vh;
  border: 1px solid rgba(3, 30, 97, 0.995);
  padding: 50px 25px;
  display: flex;
  align-self: center;

  .MaxContentCenter {
    width: 100%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
  }
}
