.BasicInfoBox {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px;
  margin-bottom: 16px;

  .AvatarBox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  @media (max-width: '600px') {
    grid-template-columns: 1fr;
  }
}

.DetailsPaper {
  padding: 24px 33px;

  @media (max-width: '400px') {
    padding: 24px 10px;
  }
}

.DetailsCenterPaper {
  display: grid;
  column-gap: 120px;
  row-gap: 30px;
  text-wrap: nowrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));

  @media (max-width: '600px') {
    grid-template-columns: 1fr;
  }
}

.DetailsBox {
  @media (max-width: '600px') {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.Title {
  font-weight: 600;
}

.Row {
  display: grid;
  grid-template-columns: min-content auto;
  margin: 12px 0px;

  @media (max-width: '600px') {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.SubTitleBox {
  display: flex;
}

.SubTitle {
  width: max-content;
  font-weight: bold;
}

.Label {
  margin-left: 12px;

  @media (max-width: '600px') {
    text-align: left;
    margin-left: 32px;
  }
}
