.DashboardBasicInfoBox {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  gap: 16px;
  margin-bottom: 16px;

  .AvatarBox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;

  }

  @media (max-width: '700px') {
    grid-template-columns: 1fr;
  }
}
