.Circles {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  &.YellowCircle {
    inset: -50%;
    width: 210%;
    height: 205%;
    border: 2px solid yellow;
    box-shadow: 2px -1px 28px -1px #ffee00;
  }

  &.RedCircle {
    inset: -45%;
    width: 200%;
    height: 200%;
    border: 2px solid red;
    box-shadow: 2px -1px 28px -1px #ff0000;
  }

  &.BlueCircle {
    inset: -37%;
    width: 180%;
    height: 180%;
    border: 2px solid blue;
    box-shadow: 2px -1px 28px -1px rgba(0, 12, 255, 1);
  }
}

@media screen and (max-width: 850px) {
  .Circles {
    display: none;
    opacity: 0;
  }
}
