.Container {
  position: relative;
  width: 30vw;
  height: 30vh;
  max-width: 300px;
  max-height: 300px;
  place-self: center;
  text-align: center;
}

.Form {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 50px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .Container {
    width: 90vw;
    max-height: none;
  }

  .Form {
    padding: 50px;
    height: min-content;
    overflow: hidden;
    box-shadow: 0px 3px 50px -30px rgba(9, 166, 252, 1);
    z-index: 1;
  }

  .Form::before {
    content: '';
    width: 60%;
    height: 125%;
    background: linear-gradient(rgb(0, 225, 255), rgb(0, 38, 255));
    position: absolute;
    left: 75px;
    top: -50px;
    z-index: -2;
    filter: blur(25px);
    animation: 7s animation linear infinite;
  }

  .Form::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: black;
    border-radius: inherit;
    z-index: -1;
  }
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
