* {
  color: white;
}

body {
  background-color: #080a1d !important;
  overflow-x: hidden;
  contain: paint;
}

#root {
  position: relative;
  height: 100%;
  display: flex;
}

//Override MUI
.MuiButton {
  &-root {
    background: rgba(7, 28, 82, 0.35);
    text-transform: none;
  }
  &-root:hover {
    background: rgb(7, 45, 127);
  }
}

.MuiDivider {
  &-root {
    background: #1976d2;
  }
}

.MuiListItemText {
  &-root p {
    color: white !important;
  }
}

.MuiTable {
  &-root {
    .MuiTableHead {
      &-root {
        background: rgb(3, 1, 24);
      }
    }
    .MuiTableBody {
      &-root {
        .MuiTableRow-root:nth-child(even) {
          background: #070d3b;
        }
        .MuiTableCell-root {
          border-bottom: 1px solid rgb(3, 30, 105);
        }
      }
    }
  }
}

.TableContainer {
  &-root {
    background: #041141;
    &::-webkit-scrollbar {
      background: #041141;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(7, 28, 112);
    }
    &::-webkit-scrollbar-track {
      background: #041141;
    }
  }
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    color: #1976d2aa;
  }
  .MuiFilledInput-root {
    background: rgba(7, 28, 82, 0.35);
    &::before {
      border-bottom: 1px solid #1976d2;
    }
    &::after {
      border-bottom: 1px solid green;
    }
  }
}

.MuiMenu-list {
  background: rgb(1, 14, 45);
}

.MuiListItemIcon-root {
  min-width: 45px !important;
}
