* {
  font-family: 'Lato', sans-serif !important;
}

#root {
  background-color: #f2f6f9;
  min-height: 100vh;
  display: grid;
  contain: paint;
  color: #070707;
}

// OVVERIDE MUI

.MuiDivider-root {
  background: white;
}

.MuiPaper-root {
  border-radius: 4px;
}
