//Accesibility
.hide {
  display: none;
}
.show {
  display: unset;
}

//Size ...etc
.fullWidth {
  width: 100%;
}

//Postion
.moveToRight {
  margin-left: auto;
}
.moveToLeft {
  margin-left: auto;
}
